.err-container {
  margin: 0 auto;
  background: #d9ecf3;
  height: 500px;
  position: relative;
}

.err-container img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
