* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-size: 14px;
}
a {
  color: white;
  text-decoration: none;
}
li {
  list-style: none;
}
i,
b,
strong,
em {
  font-style: normal;
  font-weight: normal;
}
