.cart-container {
  background: #ecf5f9;
  min-height: 500px;
  width: 1300px;
  margin: 100px auto 20px;
  overflow: hidden;
  padding: 50px;
  color: #333;
}

.cart-container h2 {
  font-size: 20px;
  position: relative;
}

.cart-container h2 span {
  font-size: 14px;
  position: absolute;
  right: 0;
  cursor: pointer;
  text-decoration: underline;
}

.cart-container .split-line {
  border: 1px solid grey;
  margin: 20px 0;
  height: 0;
}

.cart-container .cart-list .dateC {
  width: 200px;
}

.cart-container .cart-list h3 {
  height: 50px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 0;
  font-size: 16px;
}

.cart-container .cart-list h3 .image {
  width: 150px;
}

.cart-container .cart-list h3 div {
  height: 100%;
  width: 130px;
  float: left;
  text-align: center;
  line-height: 40px;
  overflow: hidden;
}

.cart-container .cart-list h3 div input {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.cart-container .cart-list h3 .pro-name {
  width: 150px;
  text-align: left;
}

.cart-container .cart-list .all-pro {
  background: #f4f4f4;
  line-height: 40px;
  border: 1px solid lightgrey;
  padding-left: 50px;
}

.cart-container .cart-list ul {
  border: 1px solid lightgrey;
  border-top: none;
  position: relative;
}

.cart-container .cart-list ul .pay-tab {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -50px;
  width: 400px;
  height: 300px;
  background: #fff;
  padding-top: 20px;
  overflow: hidden;
  text-align: center;
}

.cart-container .cart-list ul .pay-tab img {
  width: 280px;
  height: 220px;
  margin-bottom: 20px;
}

.cart-container .cart-list ul .pay-tab div {
  height: 30px;
  line-height: 30px;
  width: 180px;
  border-radius: 15px;
  background: #d33a31;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
}

.cart-container .cart-list ul .none {
  height: 200px;
}

.cart-container .cart-list ul .none img {
  width: 100%;
  height: 100%;
}

.cart-container .cart-list ul li {
  border-bottom: 1px solid lightgrey;
  height: 120px;
}

.cart-container .cart-list ul li div {
  width: 130px;
  float: left;
  height: 100%;
  line-height: 120px;
  text-align: center;
  overflow: hidden;
}

.cart-container .cart-list ul li .ck-box input {
  width: 20px;
  height: 20px;
}

.cart-container .cart-list ul li .pro-img {
  width: 150px;
}

.cart-container .cart-list ul li .pro-img img {
  width: 100px;
  height: 100px;
}

.cart-container .cart-list ul li .pro-name {
  width: 150px;
  text-align: left;
}

.cart-container .cart-list ul li .del {
  cursor: pointer;
}

.cart-container .cart-list .pay-box {
  height: 50px;
  border: 1px solid lightgrey;
  border-top: none;
}

.cart-container .cart-list .pay-box .pay-btn {
  background: #d33a31;
  color: #fff;
  cursor: pointer;
}

.cart-container .cart-list .pay-box div {
  float: right;
  height: 100%;
  line-height: 50px;
  padding: 0 30px;
  text-align: center;
}

.cart-container .cart-list .pay-box div b {
  color: #d33a31;
}
